:root {
  --colorGrayStrong: #292929;
  --colorGrayMedium: #585757;
  --colorGrayWeak: #f5ece4;
  --colorOrangeWeak: #fc6a0a;
  --colorOrangeBold: #e74504;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

button {
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--colorGreyWeak);
}
