.footer {
  background-color: var(--colorGrayStrong);
  height: 30px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--colorGrayWeak);
  font-size: 0.6em;
}
